<h1 class="mb-3">Stupid Coaching</h1>

<div class="card text-bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header"><h5>You</h5></div>
  <div class="card-body">
    <p class="card-text"><%= @answer%></p>
  </div>
</div>

<div class="card text-bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header"><h5>Your coach</h5></div>
  <div class="card-body">
    <p class="card-text"><%= @response%></p>
  </div>
</div>

<div class='my-5'>
    <a href='/ask' class='btn btn-primary'>Say something else!</a>
    </div>
