<h1 class="mb-5">Stupid Coaching</h1>

<form action="/answer" data-turbo="false">
  <div class="mb-5">
    <label for="answer" class="form-label">Talk to your coach!</label>
    <input id="answer" type="text" name="answer" class="form-control">
    <div id="emailHelp" class="form-text">Be careful of what you ask!</div>
  </div>
  <input type="submit" value="Submit" class="btn btn-success btn-lg px-5">
</form>
